@use 'sass:math';
@use "../../../node_modules/formbase/src/styles/vars";

.control {

	// We use an absolute unit (px) for the control size to avoid half pixels.
	// Half pixels would transform the circle of the radio control into an egg.
	$size: 24px;

	&__label {
		padding-left: calc(#{ $size } + #{ vars.$formbase__padding });

		&::before,
		&::after {
			top: calc(50% - #{ math.div($size, 2) });
			width: $size;
			height: $size;
		}

		&::before {
			border-width: 2px;
		}
	}

}