@use "vars";

.content {

	--columns: 2;

	display: grid;
	grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
	gap: vars.$gutter;
	margin: 0 auto;
	padding: 6vh vars.$gutter;
	width: 100%;
	max-width: vars.$maxWidth;

	@media (max-width: 800px) {
		--columns: 1;
	}

	&__spacer {
		height: 3vh;
		grid-column: 1 / -1;
	}

}