@use "vars";

.facts {

	--columns: 3;

	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
	gap: 1px;
	border-radius: vars.$radius;
	width: 100%;
	overflow: hidden;

	@media (max-width: 900px) {
		--columns: 2;
	}

	@media (max-width: 560px) {
		--columns: 1;
	}

	&__card {
		display: grid;
		grid-template-areas: 'top top' 'left right';
		align-content: space-between;
		align-items: end;
		gap: vars.$gutter;
		background: vars.$card;
		padding: vars.$gutter*1.6 vars.$gutter*1.5 vars.$gutter*1.5;
		width: 100%;
	}

	&__top {
		grid-area: top;
	}

	&__left {
		grid-area: left;
	}

	&__right {
		grid-area: right;
		justify-self: end;
	}

}