@use "vars";
@use 'sass:math';

.header {

	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom: 1px solid vars.$border;

	&::before,
	&::after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		width: vars.$gutter*2;
		pointer-events: none;
	}

	&::before {
		left: 0;
		background: linear-gradient(to right, vars.$black, rgba(vars.$black, 0));
	}

	&::after {
		right: 0;
		background: linear-gradient(to right, rgba(vars.$black, 0), vars.$black);
	}

	@keyframes header__rotate {
		0% {
			transform: rotate(0turn);
		}

		100% {
			transform: rotate(1turn);
		}
	}

	&__logo {
		$size: 42px;

		position: relative;
		margin: vars.$gutter 0 math.div(vars.$gutter, 2);
		width: $size;
		height: $size;
		background: vars.$gradient;
		border-radius: 100%;
	}

	&__spinner {
		$offset: 4px;

		position: absolute;
		top: $offset*-1;
		left: $offset*-1;
		width: calc(100% + #{ $offset*2 });
		height: calc(100% + #{ $offset*2 });
		border-style: solid;
		border-width: 2px;
		border-radius: 100%;
		border-color: transparent;
		opacity: 0;
		transition: opacity 1.2s ease;
		animation-name: header__rotate;
		animation-iteration-count: infinite;
		animation-timing-function: linear;

		&--visible {
			opacity: 1;
		}

		&--white {
			border-right-color: vars.$white;
			animation-duration: .5s;
		}

		&--primary {
			border-right-color: vars.$primary;
			animation-duration: 1.2s;
		}
	}

	&__nav {
		display: flex;
		width: 100%;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}

	&__buttons {
		display: flex;
		margin: 0 auto;
		padding: 0 math.div(vars.$gutter, 2);
	}

	&__button {
		display: flex;
		align-items: center;
		margin: 0 math.div(vars.$gutter, 2);
		padding: math.div(vars.$gutter, 1.5) 2px;
		outline: none;
		white-space: nowrap;
		transition: box-shadow .3s ease;

		&.hovered,
		&:hover,
		&:focus {
			box-shadow: inset 0 -2px 0 vars.$light;
		}

		&.active {
			box-shadow: inset 0 -2px 0 vars.$primary;
		}
	}

	&__arrow {
		$size: 12px;

		margin-left: math.div(vars.$gutter, 2);
		width: $size;
		height: $size;
		fill: currentColor;
	}

}